.wy-tray-container li {
    270px;
}

.wy-menu-vertical {
  width: 270px;
}

.wy-side-nav-search {
  width: 270px;
}

.wy-nav-side {
  width: 270px;
}

.wy-side-scroll {
  width: 290px;
}

.wy-nav-content-wrap {
  margin-left: 270px;
}

.wy-nav-content {
  max-width: 830px;
}

/* @media screen and (max-width: 798px) { */
/*   .wy-nav-side { */
/*     left: -270px; } */
/* } */

@media screen and (max-width: 768px) {
  .wy-body-for-nav {
    background: #fcfcfc; }
  .wy-nav-top {
    display: block; }
  .wy-nav-side {
    left: -270px; }
    .wy-nav-side.shift {
      width: 80%;
      left: 0; }
  .wy-side-scroll {
    width: auto; }
  .wy-side-nav-search {
    width: auto; }
  .wy-menu.wy-menu-vertical {
    width: auto; }
  .wy-nav-content-wrap {
    margin-left: 0; }
    .wy-nav-content-wrap .wy-nav-content {
      padding: 1.618em; }
    .wy-nav-content-wrap.shift {
      position: fixed;
      min-width: 100%;
      left: 80%;
      top: 0;
      height: 100%;
      overflow: hidden; } }
.rst-versions {
  width: 270px;
  .rst-versions.rst-badge {
    max-width: 270px;
  }
}









.terminal {
    /* background-color: black; */
    background-color: #282A36;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;

    /* white-space: nowrap; */
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.terminal a { color: inherit; }

/* .terminal span:hover { font-weight: bold } */
.terminal a:hover { font-weight: bold }

/* color changes */

/* .wy-side-nav-search { */
/*     /1* background-color: #5f4675; *1/ */
/*     background-color: #64aaaa; */
/* } */

/* .wy-side-nav-search input[type="text"] { */
/*     border-color: #282A36; */
/* } */

/* .wy-nav-side { */
/*     background-color: #282A36; */
/* } */

/* .wy-menu-vertical header, .wy-menu-vertical p.caption { */
/*     /1* color: #ce93f9; *1/ */
/*     color: #64aaaa; */
/* } */

